/test1.py
/data_provoda_ustanovochnye
/data_provoda_montazhnye
/data_provoda_montazhnye_s_kombinirovannoy_izolyatsiey
/data_provoda_mpo
/all_diameters_provoda_ustanovochnye
/all_diameters_provoda_montazhnye
/all_diameters_provoda_montazhnye_s_kombinirovannoy_izolyatsiey
/all_diameters_provoda_mpo

